@using Greenie
@model AddChallengeViewModel

@{
    ViewData["Title"] = "ADD CHALLENGE";
    ViewData["Controller"] = "Challenges";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Index", "View All Challenges"},
            { "Delete", "Delete Challenges" }
        };
}

<div>
    <h3>Add Challenge</h3>

    <form asp-controller="Challenges" asp-action="Add" method="POST">
        <div>
            <div>
                <div>
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>     
                </div>
            </div>
        </div>
    </form>
</div>